 
{HERO}
{WMESSAGE=hide}
<section class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
	  {SITESEARCH}  
			</div>
			<div class="col-md-6">
			
			</div>
		</div>
	</div>
</section>
{SETSTYLE=none}
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-4">          
				<div class="block block-primary">{MENUAREA=10}</div>
			</div>
			<div class="col-md-4">          
				<div class="block block-secondary">{MENUAREA=11}</div>
			</div>
			<div class="col-md-4"> 
				<div class="block block-primary"> {MENUAREA=12}</div>
			</div>
		</div>
	</div>
</section>

{SECTION_ICON_BOXES}

<section class="section-light extra-pad">
	<div class="container">
		<div class="row">
		{MENUAREA=30}
		</div>
	</div>
</section>
{SETSTYLE=none}
<section class="section-primary extra-pad">
	<div class="container">
		<div class="row"> {MENUAREA=31}</div>
	</div>
</section>
{SETSTYLE=main}
{---}

</div>